<section class="hero is-fullheight has-text-centered has-background-black-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column is-three-fifths-desktop is-three-fifths-tablet is-three-fifths-fullhd has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p class="has-text-grey-lighter">{{site.author-about}}</p>
                    <br>

                    <div class="container column is-five-fifths-desktop is-five-fifths-tablet is-five-fifths-fullhd  has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                        <div class="funky-column">
                            <a href="{{site.url}}{{site.baseurl}}/#contact"
                                class="button is-rounded is-uppercase has-text-weight-normal is-white is-outlined column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">Contact
                                Me</a>
                            </a>
                        </div>
                        <div class="funky-column">
                            <a href="{{site.url}}{{site.baseurl}}/blog"
                                class="button is-rounded is-uppercase has-text-weight-normal is-white is-outlined column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">Research blog</a>
                            </a>
                        </div>
                        <div class="funky-column">
                            <a href="https://ui.adsabs.harvard.edu/search/q=%20author%3A%22Gensior%2C%20J%22&sort=date%20desc%2C%20bibcode%20desc&p_=0"
                                class="button is-rounded is-uppercase has-text-weight-normal is-white is-outlined column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">Read my papers</a>
                            </a>
                        </div>
                        <div class="funky-column">
                            <a href="{{site.url}}{{site.baseurl}}/outreach"
                                class="button is-rounded is-uppercase has-text-weight-normal is-white is-outlined column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">Teaching & Outreach</a>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image-noborder">
                        <img src="assets/images/tl_uniform.png" alt="brief cv timeline">
                    </figure>
                </div>

            </div>
        </div>
</section>